<footer class="py-4 bg-dark text-white">
	<div class="container">
		<div class="row align-items-center g-3">
			<div class="col-12 col-md-6">
				<p class="mb-1 fw-semibold">POSCOR</p>
				<p class="mb-0 text-white-50">A small, perfectionist team crafting premium radio apps.</p>
			</div>
			<div class="col-12 col-md-6 text-md-end">
				<a class="text-white d-block" href="mailto:support@poscor.ro">support@poscor.ro</a>
				<a class="text-white-50" href="https://poscor.github.io/">https://poscor.github.io/</a>
			</div>
		</div>
	</div>
</footer>
